<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispathFilter</filter-name>
        <filter-class>p0014.linhmd.filter.DispathFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispathFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.SearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeforeUpdateServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.BeforeUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeforeChooseSubjectServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.BeforeChooseSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareQuestionServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.PrepareQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.TakeQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitServlet</servlet-name>
        <servlet-class>p0014.linhmd.servlet.SubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <url-pattern>/SearchQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeforeUpdateServlet</servlet-name>
        <url-pattern>/BeforeUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeforeChooseSubjectServlet</servlet-name>
        <url-pattern>/BeforeChooseSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareQuestionServlet</servlet-name>
        <url-pattern>/PrepareQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizServlet</servlet-name>
        <url-pattern>/TakeQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/SubmitServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
